@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap&subset=latin-ext");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

body, html {
  font-family: 'Roboto', sans-serif;
  color: #474550;
  margin: 0;
  font-size: 10px;
}

.bgStart {
  background-image: url("../images/Min/foto11.jpg");
}

.bg-main {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

.bg1 {
  background-image: url("../images/Min/foto1.jpg");
}

.bg2 {
  background-image: url("../images/Min/foto2.jpg");
}

.bg3 {
  background-image: url("../images/Min/foto3.jpg");
}

.bg4 {
  background-image: url("../images/Min/foto4.jpg");
}

.bg5 {
  background-image: url("../images/Min/foto5.jpg");
}

.bg6 {
  background-image: url("../images/Min/foto6.jpgg");
}

.bg7 {
  background-image: url("../images/Min/foto7.jpg");
}

.bg8 {
  background-image: url("../images/Min/foto8.jpg");
}

.main {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.background-show {
  list-style: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.background-show li {
  position: absolute;
  width: 101%;
  height: 101%;
  top: -0.5%;
  left: -0.5%;
  opacity: 0;
  -webkit-transition: opacity 3s;
  transition: opacity 3s;
}

.container {
  max-width: 80%;
  margin: 0 auto;
  padding: 0 60px;
  padding-bottom: 40px;
  text-align: center;
}

i {
  font-size: 3.5rem;
  font-weight: 700;
}

/* ------------------FOOTER------------------------ */
.footer-section {
  background-color: #fff;
  text-align: center;
}

.footer-text {
  font-size: 1.3rem;
}

.footer-text a {
  color: #474550;
  font-weight: 500;
  text-decoration: none;
}

/* ------------------FOOTER------------------------ */
/* ------------------FORMULARZ------------------------ */
input:focus-visible,
textarea:focus-visible {
  outline: 3px solid #474550;
}

.formField {
  font: inherit;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin: 3px 0 10px 0;
  padding: 3px 0;
  width: 30vw;
}

textarea.formField {
  width: 45vw;
  height: 10vh;
}

.btn {
  cursor: pointer;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #5e5c5c), to(#c8c4c4));
  background: linear-gradient(#5e5c5c 0, #c8c4c4 100%);
  border: 1px solid #ccc;
  line-height: 32px;
  font-size: 14px;
  padding: 0 25px;
  border-radius: 3px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.2rem;
}

.btn:hover {
  color: #474550;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #888585), to(#ece9e9));
  background: linear-gradient(#888585 0, #ece9e9 100%);
}

a.btn {
  display: block;
  width: 108px;
  margin: 0 auto;
}

.send_form_status {
  border: 1px dashed #ccc;
  display: none;
  padding: 0 10px;
  margin: 10px 0;
}

.send_form_status p {
  font-size: 15px;
}

.status_ok {
  color: #060;
}

.status_err {
  color: #F00;
}

.from-title {
  font-size: 3rem;
  padding-bottom: 20px;
  letter-spacing: 0.1rem;
}

label {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

/* ------------------FORMULARZ------------------------ */
/*# sourceMappingURL=style.css.map */