@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap&subset=latin-ext");
// @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap&subset=latin-ext');

$font-size-title: 2.5rem;
$font-size-subtitle: 1.8rem;
$background-color: #252527;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

*:focus {
	box-shadow: none;
}

body,
html {
	font-family: "Roboto", sans-serif;
	color: #474550;
	margin: 0;
	font-size: 10px;
	scroll-behavior: smooth;
}

li {
	list-style: none;
}

i {
	font-size: 3.5rem;
	margin-bottom: 10px;
	// font-weight: 700;
}

p {
	font-size: 1.2rem;
	padding: 0px;
}

h6 {
	font-size: 2rem;
}
.space {
	margin-top: 20px;
}

// ---------------------------NAWIGACJA----------------------------
nav {
	position: sticky;
	top: 0;
	height: 42px;
	line-height: 20px;
	// background-color: #ddd;
	text-align: center;
	z-index: 10;
    transition: background-color 0.4s;
}
.bgNavShow {
    background-color: #ddd;
}
.bgNavHide {
    background-color: none;
}

.hide {
	display: none;
}
.show {
	display: block;
}

.wrapper {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}

.burger-icon {
    position: absolute;
	display: block;
	margin-right: auto;
	padding: 0 17px;
	font-size: 20px;
	line-height: 50px;
	border: none;
	background: none;
	cursor: pointer;
    text-shadow: honeydew 2px 2px 5px;
}

.nav-items {
	// display: none;
	// font-size: 1.5rem;
// }

font-size: 0.9rem;
width: 85vw;
position: relative;
/* right: 0; */
left: 15vw;
}

.nav-items a {
    padding: 0 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: $background-color;
    transition: color 0.3s;
}
// ---------------------------NAWIGACJA----------------------------

.bgStart {
	background-image: url("../images/Min/photo11.jpg");
}

// .bg-main {
//     background-repeat: no-repeat;
//     background-size: cover;
//     background-position: center center;
// }

.bg1 {
	background-image: url("../images/Min/photo1.jpg");
}
.bg2 {
	background-image: url("../images/Min/photo2.jpg");
}
.bg3 {
	background-image: url("../images/Min/photo3.jpg");
}
.bg4 {
	background-image: url("../images/Min/photo4.jpg");
}
.bg5 {
	background-image: url("../images/Min/photo5.jpg");
}
.bg6 {
	background-image: url("../images/Min/photo6.jpg");
}
.bg7 {
	background-image: url("../images/Min/photo7.jpg");
}
.bg8 {
	background-image: url("../images/Min/photo8.jpg");
}

.main {
	// position: absolute;
	// display: flex;
	// justify-content: center;
	// align-items: center;
	// align-items: flex-start;
}

.background-show {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.background-show li {
	position: absolute;
	width: 100%;
	height: 100%;
	// top: -0.5%;
	// left: -0.5%;
	opacity: 0;
	transition: opacity 3s;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
	// padding-bottom: 40px;
	text-align: center;
	display: flex;
	flex-direction: column;
}

section {
	scroll-margin-top: 40px;
}

// .section-title {
//     margin: 0 0 40px 0;
//     text-align: center;
//     font-size: $font-size-title;
//     padding-bottom: 20px;
//     letter-spacing: 0.1rem;
// }

/* ------------------SPLASH------------------------ */
.splash {
	z-index: 1;
	// position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.page-intro {
	max-width: 80%;
	text-align: center;
	// height: 60vh;
	margin-top: 38px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.main-title {
	font-size: 3rem;
	font-weight: 900;
	letter-spacing: 5px;
	word-spacing: 10px;
	color: black;
	// color: $background-color;
}
.main-title span {
	display: block;
	padding: 10px;
}
.main-subtitle {
	margin: 30px auto;
	font-weight: 900;
	letter-spacing: 3px;
	word-spacing: 0px;
	font-size: 3rem;
	color: #ffffe6;
}
/* ------------------SPLASH------------------------ */

/* ------------------MORE------------------------ */
.video-album,
.more {
	background-color: #eff5f5;
}

.boxes-wrapper {
	display: flex;
	flex-direction: row;
	// flex-flow: center;
	justify-content: center;
}
.box {
	width: 30%;
	padding: 10px;
	// flex-flow: center;
	margin: 0 10px;
}
/* ------------------MORE------------------------ */

/* ------------------PHOTO ALBUM------------------------ */
.photo-album {
	color: #eff5f5;
	background-color: $background-color;
}
.photo {
	width: 90%;
	margin: 10px auto;
    transition: border .3s, transform .3s;
}
.photo:hover {
    transform: scale(1.17,1.17);
    border: 3px solid $background-color;
}
.more-photos:hover {
    cursor: pointer;
}
.fewer-photos:hover {
    cursor: pointer;
}

/* ------------------PHOTO ALBUM------------------------ */

/* ------------------VIDEO---------------------------- */
.video {
	// margin-top: 20px;
	// display: flex;
	max-width: 100%;
	margin: 0 auto;
	padding-top: 20px;
	// text-align: center;
}
.blockFilm {
	// flex: 0 0 50%;
	max-width: 100%;
	margin-top: 40px;
}
video {
	height: 350px;
	margin-left: -3px;
	margin-right: -3px;
}
.video img {
	height: 350px;
}
/* ------------------VIDEO---------------------------- */

/* ------------------FORMULARZ------------------------ */
.form-contact {
	background-color: #eff5f5;
}

input:focus-visible,
textarea:focus-visible {
	outline: 3px solid #474550;
}
.form-field {
	border: 1px solid #ccc;
	border-radius: 3px;
	margin: 3px 0 10px 0;
	padding: 3px 0;
	width: 60%;
}
textarea.form-field {
	width: 90%;
	height: 60px;
}
.btn {
	cursor: pointer;
	background: linear-gradient(#5e5c5c 0, #c8c4c4 100%);
	border: 1px solid #ccc;
	line-height: 30px;
	font-size: 14px;
	// padding: 0 25px;
	border-radius: 3px;
	font-weight: 700;
	color: #fff;
	letter-spacing: 0.2rem;
	width: 100px;
	height: 30px;
}
.btn:hover {
	color: #474550;
	background: linear-gradient(#888585 0, #ece9e9 100%);
}
a.btn {
	display: block;
	margin: 10px auto;
	text-decoration: none;
}
.send-form-status {
	border: 1px dashed #ccc;
	display: none;
	padding: 0 10px;
	margin: 10px 0;
}
.send-form-status p {
	font-size: 15px;
}
// .status-ok {
//     color: #060;
// }
// .status-err {
//     color: #F00;
// }
.container-title
// .from-title
{
	font-size: $font-size-title;
	padding-bottom: 25px;
	letter-spacing: 0.1rem;
}
label {
	font-size: $font-size-subtitle;
	font-weight: 700;
	letter-spacing: 0.1rem;
}
.form-contact .container {
    width: 80%;
}
/* ------------------FORMULARZ------------------------ */

/* ------------------LOCATION---------------------- */
.contact,
.location,
.join-us {
	background-color: $background-color;
	color: #eff5f5;
	padding-bottom: 20px;
}
p a {
	text-decoration: none;
	color: #eff5f5;
}
.frameContent {
	height: 300px;
	width: 100vw;
	border: 0;
}
/* ------------------LOCATIONS---------------------- */
/* ------------------JOIN US---------------------- */
.join-us{
    background-color: $background-color;
}
.join-us .box{
    width: 35%;
    // position: relative;
    // top: 50%;
    // left: 50%;
    // transform: (-50%,-50%);
}
// rodzic > dziecko:first-child { cecha: wartość }
.box ul {
    text-align: left;
    position: relative;
    top: 50%;
    left: 0;
    transform: translate(0,-50%);
}
.box li{
    padding: 6px 0;
}
.box i {
    padding: 0 20px;
}
 .box a{
	text-decoration: none;
	color: #eff5f5;
    font-size: 2rem;
 }
 .box a:hover{
	color: #787c7c;
 }
/* ------------------JOIN US---------------------- */

/* ------------------FOOTER------------------------ */
.footer-section {
	background-color: #fff;
	text-align: center;
}
.footer-text {
	font-size: 1.3rem;
	// color: #474550;
}
.footer-text a {
	color: #474550;
	// letter-spacing: 0;
	font-weight: 500;
	text-decoration: none;
}
/* ------------------FOOTER------------------------ */

/* ------------------RESPONZYWNOŚĆ------------------------ */

@media (orientation: portrait) {
}

@media (min-width: 200px) {
    .main-title {
        font-size: 2.5rem;
    }
}

@media (min-width: 300px) {
    .nav-items {
        font-size: 1rem;
    }
    .main-title {
        font-size: 3.5rem;
    }
    .nav-items a {
        padding: 0 15px;
    }
}
@media (min-width: 400px) {
    .nav-items {
        font-size: 1.3rem;
        width: 88vw;
        left: 12vw;
    }
    .nav-items a {
        padding: 0 21px;
    }
    .main-title {
        font-size: 4.5rem;
    }
    .form-contact .container {
        width: 70%;
    }
}
@media (min-width: 576px) {
    .nav-items {
        font-size: 1.5rem;
        width: 91vw;
        left: 9vw;
    }
    .nav-items a {
        padding: 0 30px;
    }
    p {
        padding: 0px 30px;
    }
    .form-contact .container {
        width: 65%;
    }
    .box i {
        padding: 0 12px;
    }
    .box li {
        padding: 4px 0;
    }
}
// @media (max-width: 400px) {
//     .nav-items {
//         font-size: 1.1rem;
//     }
// }
@media (min-width: 768px) {
	.nav-items {
		display: block;
        width: 100%;
        left: 0;
	}
    .nav-items a {
        line-height: 43px;
        padding: 0 20px;
    }
	.burger-icon {
		display: none;
	}
    hr {
        display: none;
    }
    .bgNavHide {
        background-color: #ddd;
    }
    .photo-album .container{
        width: 65%;
    }
    .photo:hover {
        transform: scale(1.25,1.25);
    }
    .form-contact .container {
        width: 60%;
    }
	// .nav-items a {
	// 	padding: 0 20px;
	// 	text-decoration: none;
	// 	text-transform: uppercase;
	// 	font-weight: bold;
	// 	color: $background-color;
	// 	transition: color 0.3s;
	// }
	// .nav-items a:hover {
	// 	color: gray;
	// }
	// .nav-items a:visited {
	// 	color: $background-color;
	// }
	// .nav-items a:checked {
	// 	background-color: none;
	// }
	// .nav-items a:focus-within {
	// 	background: none;
	// }
}
@media (min-width: 992px) {
    .form-contact .container {
        width: 50%;
    }
}
@media (min-width: 1200px) {
    .form-contact .container {
        width: 30%;
    }
}
@media (min-width: 1400px) {
}
